


/* .App {
    text-align: center;
  }

html, body {
    height: 100%;
    margin: 0;
  }

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e3e6ec;
}

#container {
    display: flex;

    flex-flow: wrap;

    justify-content: center;

    align-items: center;
}

#loginForm, #registerForm {
    width: 300px;  
    height: 300px; 
    margin: auto; 
    text-align: right;
}

#loginForm {
    display: block;
    margin: 10px;
    padding: 10px;
    height: 150px;
    position: relative;
    border-radius: 15px;
}

#loginForm>* {
    width: 150px;
    box-sizing: border-box;
}

#registerForm {
    display: block;
    margin: 10px;
    padding: 10px;
    height: 180px;
    position: relative;
    border-radius: 15px;
}

#registerForm>* {
    width: 150px;
    box-sizing: border-box;
}

#btnLogin, #btnRegister {
    display: block;
    bottom: 10px;
    background-color: rgb(35, 230, 213);
    text-align: right;
}

input {
    margin-bottom: 3px
}

header {
    background-color: #00BFFF;
    height: 60px;
}

.header {
    font-weight: bold;
    font-size: 2em;
    color: white;
    margin: 80px;
    position: relative;
    top:5px;
}

#profile {
    text-align: right;
    margin-right: 20px;
    margin-top: -4px;
    color: white;
}

#notifications {
    width: 100%;
    font-weight: 300;
    color: white;
    display: block;
}

#infoBox {
    background-color: rgb(79, 226, 104);
}

#errorBox {
    background-color: red;
}

#loadingBox {
    background-color:rgb(35, 126, 230);
}

#btn_close {
    margin-left: 10px;
    font-weight: 600;
    color: rebeccapurple;
    background-color: transparent; 
}

footer {
    height:40px;
    background-color: rgb(63, 65, 66);
    color:rgb(211, 208, 208);
    padding-top: 15px;
}

.logo img {
    height: 65px;
    margin-bottom: -30px;
}

#profile a {
    text-decoration: none;
}

#menu {
    display: block;
    float: left;
    margin-left: 20%;
}

#menu a {
    padding: 1px 5px 5px 5px;
    text-decoration: none;
}

#menu a:hover {
    font-style: oblique;  
}

.active {
    background-color: #00BFFF;
}

#add_list {
    margin-top: 0px;
}

#username {
    margin-right: 10px;
}

.ad {
    background-color: #c0d6f9a6;
    width: 400px;
    margin: 5px;
    border-radius: 10px;
    height: 150px;
}

.ad:hover {
    box-shadow:2px 2px 1px grey;  
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 70px 0px 70px;
}

.img_thumb img{
    max-width: 100px;
    max-height: 100px;
    margin: 10px;
    float: left;
}

.title {
    background-color: #00BFFF;
    padding: 5px;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-overflow: scale;

}

.container {
    display: grid;
    text-align: left;
    grid-template-columns: 150px auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
} 

.action {
    float: left;
}

.action>button {
    width: 70px;
}

.action a {
    display: block;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}

.logo-link {
    text-decoration: none;
}

#createAdForm {
    width: 400px;
    height: 300px;
    margin: auto;
    padding: 30px;
    border-radius: 15px;
    text-align: left;
}

#createAdForm>* {
    margin: 3px;
}

#editAdForm {
    width: 400px;
    height: 300px;
    margin: auto;
    padding: 30px;
    border-radius: 15px;
    text-align: left;
}

#editAdForm>* {
    margin: 3px;
}

#all-ads {
    margin: auto;
    margin-top: 20px;
    clear: left;
}

.details {
    padding-top: 10px;
}

.details_solo {
    width: 400px;
    height: 300px;
    margin: auto;
    padding: 30px;
    border-radius: 15px;
    text-align: left;
}

.details_solo>* {
    margin: 5px;
}

input, textarea{
    width: 100%;
}

.details>button {
    width: 70px;
    margin-bottom: 10px;
}

#btnCreateAd {
    height: 30px;
}

#btnCreateAd:hover {
    background-color: #00BFFF;
}

.delBtn {
    outline: none;
    border: 2px solid white;
	box-shadow: 0px 2px 0px 0px #717478;
	border-radius:10px;
	display:inline-block;
	cursor:pointer;
    background-color:#ff0d00;
    color: white;
    border: 0;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:4px 12px;
	text-decoration:none;
    margin-left: 130px;
}
.delBtn:hover {
    box-shadow: 0px 0px 0px 0px #6f6f70;
    margin-top: 1px;
}
.delBtn:active {
	position:relative;
	top:1px;
}

.block_el:empty {
    display: none;
}

.del_edit {
    float: right;
    font-size: 0.9em;
}

.delAd {
    background-color: #ff0d00;
    color: black;
}

.editAd {
    background-color: white;
}

.editAd:hover {
    font-style: oblique;
}

.delAd:hover {
    font-style: oblique;

}
.publisher {
    margin-top: 10px;
    font-size: 0.7em;
}

.price_grid {
    margin-top: 5px;
    background-color: rgb(175, 226, 186);
}

.error_msg {
    background-color: #ff0d00;
    color: white;
    text-align: center; 
    font-family: Arial, Helvetica, sans-serif;
}

.details_container {
    clear: left;
    display: block;
    display: flex;
    flex-flow: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.details_nav {
    margin-top: -20px;
}

.details_img {
    max-width: 500px;
}

.details_info_box {
    text-align: left;
    width: 500px;
    margin: 5px;
}

.details_descr {
    background-color: orange;
    margin-bottom: 10px;    
    padding: 5px;
    text-align: justify;
    text-justify: inter-word;
}

.details_publisher {
    font-style: italic;
    font-size: 0.9em;
    padding-left: 5px;
}

.details_price {
    padding-left: 5px;
}

#logout_icon {
    height: 50px;
    margin-top: -33px;
}

#logout_icon:hover {
    transform: scale(1.2);
}
 */
